[Unit]
Description=Apply system baseline
Wants=baseline.timer

[Service]
Type=oneshot
ExecStart=/bin/ansible-pull -U https://github.com/mhahl/system-baseline.git baseline.yaml --clean


[Install]
WantedBy=multi-user.target
