[Unit]
Description=Apply system baseline
Wants=baseline.timer

[Service]
Type=oneshot
ExecStart=/bin/ansible-pull -U https://git.hahl.id.au/hahl.id.au/system-baseline.git baseline.yaml --clean -C $([ -f ~/.staging ] && echo "development" || echo "master" )


[Install]
WantedBy=multi-user.target
