[Manager]
DefaultEnvironment="HTTP_PROXY=http://{{proxy_server}}:{{proxy_server_port}}"
DefaultEnvironment="HTTPS_PROXY=http://{{proxy_server}}:{{proxy_server_port}}"
DefaultEnvironment="http_proxy=http://{{proxy_server}}:{{proxy_server_port}}"
DefaultEnvironment="https_proxy=http://{{proxy_server}}:{{proxy_server_port}}"
DefaultEnvironment="NO_PROXY={{no_proxy}}"
DefaultEnvironment="no_proxy={{no_proxy}}"
